# Build directory is created during PhpUnit test runs.
/build
.phpunit.result.cache

# Composer lock shoud not be included in a package.
/composer.lock

# Never commit vendors!
/vendor

# Exclude the examples config file.
/examples/config.php
